
<div>
  <mat-toolbar color="primary">
    <span> {{ appTitle }}</span>
  </mat-toolbar>

  <div class="card-item">
    <div class="">
      <p>Available Players: <span>{{totalPlayer}}</span></p>
 
      <div class="list-container"  
          cdkDropList  
          #availPlayer="cdkDropList" 
          [cdkDropListData]="availPlayers" 
          [cdkDropListConnectedTo]="[selectPlyr]" 
          (cdkDropListDropped)="drop($event)"
       >
       <div class="list" *ngFor="let player of availPlayers" cdkDrag>
          <div class="player-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="player-item">
            <div class="prof-icon"><img src="assets/icons/profile.png" alt=""></div>
            <div class="prof-name pad-lr-5">
              <p>{{player.name}}</p>
               <p>Rs. {{player.value}}</p> 
            </div>
            <div class="pro-skill pad-lr-5">
              <p>Batting</p>
              <p>Boweling</p>
              <p>All Round</p>
            </div>
            <div class="pro-rank pad-lr-5">
              <p>Rank: {{player.batRank}}</p>
              <p>Rank: {{player.bowRank}}</p>
              <p>Rank: {{player.all}}</p>
            </div>
          </div>
        </div>

       </div> <!--list-container -->

    </div>  

    <div class=""> 
        <p>Selected Players: <span> {{selectPlayerCnt}} / 15</span></p>
        <div class="list-container" 
            cdkDropList 
            #selectPlyr="cdkDropList" 
            [cdkDropListData]="selectedPlayers" 
            [cdkDropListConnectedTo]="[availPlayer]" 
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="specialUseCase"
   
        >
            <div class="list" *ngFor="let selectPlayer of selectedPlayers"  cdkDrag  [cdkDragData]="selectPlayer">
                <div class="player-custom-placeholder" *cdkDragPlaceholder></div>
              <div class="player-item">
                <div class="prof-icon"><img src="assets/icons/profile.png" alt=""></div>
                <div class="prof-name pad-lr-5">
                  <p>{{selectPlayer.name}}</p>
                   <p>Rs. {{selectPlayer.value}}</p> 
                </div>
                <div class="pro-skill pad-lr-5">
                  <p>Batting</p>
                  <p>Boweling</p>
                  <p>All Round</p>
                </div>
                <div class="pro-rank pad-lr-5">
                  <p>Rank: {{selectPlayer.batRank}}</p>
                  <p>Rank: {{selectPlayer.bowRank}}</p>
                  <p>Rank: {{selectPlayer.all}}</p>
                </div>
              </div>
            </div>
           </div> <!--list-container -->
    </div>

    <div class="list-container mar-t-50">
      <div class="result-item"> 
        <div class="first">
            <div class="label">
                <p>Total Budget: </p>
                <p>Used: </p>
                <p>Available: </p>
             
            </div>
            <div class="value">
                <p> {{totalBudget | currency:'INR':'symbol':'4.2-2' }}  </p>
                <p> {{usedBudget | currency:'INR':'symbol':'4.2-2' }} </p>
                <p> {{availBudget | currency:'INR':'symbol':'4.2-2' }}</p>
              
            </div>
        </div>
        <div class="second">
            <p class="lbl-strength">Team Strength: </p>
            <p class="lbl-strength lbl-str-val"><span>{{teamStrength | number:'1.0-2'}}</span></p>
        </div>
        
      </div>
    </div> <!--list-container -->

  </div> 

</div>

<!-- ROUTE NOT YET USING -->
<router-outlet></router-outlet>
